* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #e1e1e1;
  --body-clr: #1e1e1e;
  --body-font-family: "Segoe UI";
  --main-pdd: 10px;
  --main-gp: 10px;

  --content-clr: #ffffff;
}

body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-family: var(--body-font-family);
}

main {
  display: grid;
  padding: var(--main-pdd);
  gap: var(--main-gp);
  grid-template-columns: 1fr 1fr;

  min-height: 100vh;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  main {
    grid-template-columns: 1fr;
  }
}

.content {
  display: grid;
  place-items: center;
  font-size: 32px;
  color: var(--content-clr);
}

.p-1 {
  background-color: rgb(79, 0, 0);
}

.p-2 {
  background-color: rgb(75, 79, 0);
}

.p-3 {
  background-color: rgb(0, 79, 0);
}

.p-4 {
  background-color: rgb(0, 38, 79);
}

.p-5 {
  background-color: rgb(57, 0, 79);
}