* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #1e1e1e;
  --body-clr: #e1e1e1;
}

body {
  background-color: var(--body-bg);
  color: var(--body-clr);
}

@import "tCarouser.css";
